body {
    display: flex;
    flex-direction: column;
}

.container {
    display:flex;
}

.grid {
    flex-direction: column;
}

.box {
    background-color: darkgrey;
    height: 10px;
    width: 10px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 25px;
}

li {
    margin-left: 0px;
}

.row {
    display:flex;
    justify-content: flex-start;
}
