body {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.container {
    display:flex;
}

.grid {
    flex-direction: column;
}

.box {
    background-color: darkgrey;
    height: 10px;
    width: 10px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    padding: 0px;
}

li {
    margin-left: 0px;
}

.row {
    display:flex;
    justify-content: flex-start;
}

.buttons {
    display:flex;
    gap: 10px;
    margin: 10px;
}

button {
    width: 100px;
}

.colors{
    display:flex;
    gap: 10px;
}

.colors button {
    width: 25px;
    height: auto;
    border: 0px;
    border-radius: 2px;
}

#red {
    background-color: red;
}

#black {
    background-color: black;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}